.encounters{
    background-color:  #ebd5b3;
    min-height: 100vh;
}

.encounters-container{
    padding-top: 10vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
   
}