.monster {
    border: 1px solid #313639;
    border-radius: 0.25rem;
    text-align: left;
    width: 27%;
    margin: 1%;
    padding: 2%;
    background-color: #fefefe;
    margin-bottom: auto;
}

.monster-title h3{
    margin: 0;
    border-bottom: 2px solid #e40611;
}

.monster-title{
    margin: 0 0 1rem 0;
}

.monster li {
    list-style: none;
}

.monster-stats{ 
    display: flex;
    flex-wrap: wrap;
    padding: 0;
    border-bottom: 2px solid #e40611;
    border-top:2px solid #e40611;
    padding: 0.5rem 0 0.5rem 0;
} 

.monster-stats li{
    padding-right: 1rem;
}

.monster-saving{
    padding: 0.5rem 0 0.5rem 0;
    
}

.monster-skill{
    margin: 0.5rem 0 0.5rem 0;
}

.monster-skill span{
    margin-right: 0.5rem;
}

.monster-actions-title{
    border-bottom: 2px solid #e40611;
}


.monster button{
 font-family: inherit;
 cursor: pointer;
 background: none;
 font-size: inherit;
 border-radius: 0.25rem;
}

.monster-btn{
    border: 1px solid #313639;
}

.monster-btn:hover{
    background: #313639;
    color: #fefefe;
    transition: 300ms;
}

.monster-btn:focus{
    background: #313639;
    color: #fefefe;
}
.monster-btn-delete{
    border: 1px solid #e40611;
}

.monster-btn-delete:hover{
    background: #e40611;
    color: #fefefe;
    transition: 300ms;
}

.monster-btn-delete:focus{
    background: #e40611;
    color: #fefefe;
}

.monster-buttons{
    display: flex;
    justify-content: space-between;
}

.monster-atk{
    border-bottom: 1px solid #e40611;
    padding: 0 0 1rem 0;
}

.monster-atk-dice{
    display: flex;
    justify-content: space-between;
}

@media only screen and (max-width: 768px) {
    .monster{
        width: 90%;
        margin: 2%;
    }
  } 