.search-monsters{
    min-height: 30vh;
    background-color: rgba(49, 54, 57, 0.25);
    padding-bottom: 1rem;
}

.search-monsters-title{
    border-top: 2px solid #e40611;
    margin-top: 2rem;
    padding-top: 2rem;

}

.search-monsters form{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
}

.search-monsters input{
    border-radius: 0.25rem;
    border: none;
    padding: 0.1rem;
    height: 1.5rem;
    background-color: #fefefe;
    border: 1px solid #fefefe;
}

.search-monsters input:hover{
    outline: none;
    border: 1px solid rgba(49, 54, 57, 0.75);
}

.search-monsters-btn{
    cursor: pointer;
    border: solid 1px #313639;
    border-radius: 0.25rem;
    background: none;
    font-size: inherit;
    font-family: inherit;
    color: #313639;
    transition: 300ms;
    padding: 0.25rem;
    margin-left: 1rem;
}

.search-monsters-btn:hover{
    background-color: #313639;
    color: #fefefe;
}

.search-monsters-btn:focus{
    background-color: #313639;
    color: #fefefe;
}

.monster-no-result{
    margin-top: 1rem;
}