.auth-form{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-image: url("../images/homepage2.jpg");
    background-position: center center;
    background-size: cover;
}

.auth-form form{
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: left;
    border: 0.1rem solid rgba(49, 54, 57, 0.75);
    border-radius: 0.5rem;
    text-align: left;
    background-color: rgba(254, 254, 254, 0.75);
    letter-spacing: 0.05rem;
    color:#313639;
    width: 80%;
}   

.auth-form label{
    padding-bottom: 0.25rem;
}

.auth-form input{
    width: 100%;
    margin-bottom: 1rem;
    border-radius: 0.25rem;
    border: 1px solid white;
    height: 1.5rem;
    -moz-box-shadow:    3px 3px 5px 6px #ccc;
    -webkit-box-shadow: 3px 3px 5px 6px #ccc;
    box-shadow:         3px 3px 5px 6px #ccc;
}

.auth-form input:focus{
    outline: none;
    border: 1px solid rgba(49, 54, 57, 0.75);
}

.auth-form button{
    cursor: pointer;
    color: #313639;
    background:none;
    border: 1px solid #313639;
    border-radius: 0.25rem;
    margin: 1rem;
    padding: 0.5rem;
    font-size: 1rem;
    font-weight: bold;
    letter-spacing: 0.05rem;
    max-width: 50%;
    align-self: center;
}

.auth-form button:hover {
    background-color: #313639;
    color: #fefefe;
    transition: 300ms;
}

.auth-form button:focus{
    background-color: #313639;
    color: #fefefe;
    transition: 300ms;
}

.auth-form h3{
    margin: 0.5rem;
    align-self: center;
}

.auth-text{
    letter-spacing: normal;
    font-style: oblique;
}

.auth-err {
    color: #e40611;
    letter-spacing: normal;
    font-size: .8rem;
    margin-bottom: 0.5rem;
}

@media only screen and (min-width: 768px) {
    .auth-form form {
        max-width: 50%;
    }
  }