.homepage{
    width: 100vw;
    min-height: 100vh;
    position: absolute;
    top:0;
    left: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    background-image: url("../images/homepage.jpg");
    background-position: center center;
    background-size: cover;
    color: #f9f9f9;
    text-shadow: 0 0 8px #66757f;
}

.homepage a{
    cursor: pointer;
    background-color: rgba(49, 54, 57, 0.75);
    border: solid 1px #f9f9f9;
    border-radius: 0.25rem;
    font-size: inherit;
    font-family: inherit;
    color: #f9f9f9;
    transition: 300ms;
    padding: 0.25rem;
    margin: 1rem;
    text-decoration: none;
}
    
.homepage a:hover{
    background-color: #313639;
    color: #fefefe;
}

.homepage a:focus{
    background-color: #313639;
    color: #fefefe;
}
