.loot-title{
    padding-top: 2rem;
    width: 80%;
    margin: 2rem auto 0 auto;
    border-top: 2px solid#e40611;
}

.loot-list{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}

.loot-btn{
    cursor: pointer;
    color: #fefefe;
    background: #313639;
    border: 1px solid #313639;
    border-radius: 0.25rem;
    padding: 0.25rem;
    font-size: 1rem;
    margin: 0.25rem 0 0.25rem 0;
    letter-spacing: 0.05rem;
    max-width: 50%;
    align-self: center;
    transition: 300ms;
}

.loot-btn:hover{
    background: #fefefe;
    color: #313639;
    transition: 300ms;
}

