.monster {
    border: 1px solid #313639;
    border-radius: 0.25rem;
    justify-items: start;
    text-align: left;

}

.monster ul{
    padding: 0;
}

.monster h3{
    border-bottom: 2px solid #e40611;
}

.monster li {
    list-style: none;
}

.monster-stats{ 
    display: flex;
} 

.monster-stats li{
    padding-right: 1rem;;
}

.monster button{
 font-family: inherit;
 cursor: pointer;
 background: none;
 font-size: inherit;
 border-radius: 0.25rem;
}

.monster-btn-save{
    border: 1px solid #313639;
}

.monster-btn-save:hover{
    background: #313639;
    color: #fefefe;
    transition: 300ms;
}

.monster-btn-save:focus{
    background: #313639;
    color: #fefefe;
}
.monster-btn-delete{
    border: 1px solid #e40611;
}

.monster-btn-delete:hover{
    background: #e40611;
    color: #fefefe;
    transition: 300ms;
}

.monster-btn-delete:focus{
    background: #e40611;
    color: #fefefe;
}