.ov-monster{
    display: flex;
    border: 1px solid #313639;
    border-radius: 0.25rem;
    padding: 0.25rem 0.5rem 0.25rem 0.5rem;
    margin: 0.25rem;
    transition: background-color 0.5s ease;
}

.ov-monster-title{
    font-weight: bold;
}

.ov-monster div {
    margin-right: 0.25rem;
}

.ov-monster input{
    margin-right: 0.25rem;
}

.ov-monster input{
    width: 2.5rem;
    margin-right: 0.25rem;

}

.monster-ov-btn{
    cursor: pointer;
    color: #313639;
    background-color: inherit;
    border: none;
    padding: 0.25rem;
    font-size: 1rem;
    margin: 0.25rem 0 0.25rem 0;
    letter-spacing: 0.05rem;
    max-width: 50%;
    transition: 300ms;
}

.monster-ov-btn:hover{
    color: #e40611;
}

.monster-ov-btn:focus{
    outline: none;
    color: #e40611;
}

.monster-overview h4{
    margin: 0;
}

.monster-overview-list{
    display: flex;
    flex-wrap: wrap;
}

.roll {
    cursor: pointer;
    margin-left: 0.25rem;
    font-family: inherit;
    border-radius: 0.25rem;
    color: #fefefe;
    font-weight: bold;
    background: #313639;
    border: 1px solid #313639;
    transition: 300ms;
    min-width: 2rem;
}

.roll:hover{
    background-color: #fefefe;
    color: #313639;
}

@media only screen and (max-width: 768px) {
    .monster-ov-btn{
        align-self: flex-end;
    }
  } 